*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    margin-left: 30%;
    min-height: 100vh;
    background:linear-gradient(green, lightgreen);
}
.bamboo-1,.bamboo-2,.bamboo-3{
    width: 35px;
    min-height: 70vh;
    background-image: linear-gradient(90deg,#06750e,#207a27);
    box-shadow: 0 0 20px inset black;
    filter: blur(0.8px);
    position: relative;

}
.bamboo-1{
    transform: skewX(-2deg);
}
.bamboo-2{
    z-index: 1;
    transform:scaleY(-1);
}
.bamboo-3{
    margin-left: 20px;
    z-index: 2;
}
.line-1,
.line-2,
.line-3,
.line-4,
.line-5{
    width: 100%;
    height: 3px;
    background: #ebebe4;
    filter: blur(0.5px);
    box-shadow: 0 0 2px 0 #3f423f;
    border-bottom: 1px solid #000;
    position: absolute;
}
.line-1{
    top: 10%;
}
.line-2{
    top: 33%;
}
.line-3{
    top: 58%;
}
.line-4{
    top: 79%;
}
.line-5{
    top: 96%;
}
.panda{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.head{
    height: 140px;
    width: 150px;
    border-radius: 70% 70% 55% 55% / 80% 80% 59% 59%;
    background-color: white;
    /* position: absolute; */
    margin-top: 0;
}
#eyes{
    position: absolute;
    top: 24%;
    width: 60px;
    height: 60px;
    border-radius:75% 50% 70% 50% / 72% 50% 75% 50% ;
    background: #000;
    z-index: 2;
}
.left-eye{
    left: 7%;
    transform: rotate(-10deg);
}
.left-eye::before{
    content: "";
    width: 18px;
    height: 25px;
    background: #fff;
    position: absolute;
    left: 55%;
    top: 20%;
    border-radius: 50%;
}
.right-eye{
    right: 7%;
    transform: scaleX(-1) rotate(-10deg);

}
.right-eye::before{
    content: "";
    width: 18px;
    height: 25px;
    background: #fff;
    position: absolute;
    left: 55%;
    top: 20%;
    border-radius: 50%;
}
#ears{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #373a3c;
    box-shadow: 0 0 0 10px #000;
    z-index: -1;
}
.left-ear{
    left: -5px;

}
.right-ear{
    left: -5px;
    
}
#nose{
    width: 24px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 60%;
    left: 42%;
}
#lips{
    width: 20px;
    height: 20px;
    border: 4px solid #000;
    border-radius: 0 0 0 20px;
    border-right:  none;
    border-top:  none;
    position: absolute;
    top: 64%;
    background: white;  
    z-index: 1;
}
.left-lips{
    left: 35%;
    transform: scaleX(-1) rotate(-30deg);
}
.right-lips{
    left: 35%;
    transform: scaleX(-1) rotate(-30deg); 
}