@import "~antd/dist/antd.css";

.wrap {
    margin: 0 5px;
}

.wrap .topic_list {
    background-color: #fff;
    padding: 0 15px;
}

#root .page {
    min-height: 100vh;
}
.index_nav {
    margin-top: 10px;
}

.topic-tag {
    margin-left: 5px;
}

.topic-time {
    text-align: right;
}

.index-pagination {
    background-color: #fff;
    padding: 10px 30px;
}

.user-page .ant-card {
    margin-top: 10px;
}

@media all and (min-width: 576px) {
    .wrap {
        margin: 0 10px;
    }
}

@media all and (min-width: 768px) {
    .wrap {
        margin: 0 15px;
    }
}

@media all and (min-width: 992px) {
    .wrap {
        margin: 0 20px;
    }
    .wrap .topic_list {
        background-color: #fff;
        padding: 0 20px;
    }
}

@media all and (min-width: 1200px) {
    .wrap {
        width: 980px;
        margin: 0 auto;
    }
    .wrap .topic_list {
        background-color: #fff;
        padding: 0 30px;
    }
}

@media all and (min-width: 1600px) {
    .wrap {
        width: 1200px;
        margin: 0 auto;
    }

    .wrap .topic_list {
        background-color: #fff;
        padding: 0 30px;
    }
}
